<div class="container py-5 text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">

      <h2 class="mb-4">Olá, {{aluno.nome}}!</h2>
      
      <div class="card text-dark p-4 mb-4" style="background-color: #B395C0;">
        <div class="d-grid gap-3">

          <a href="/aluno/aulas" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">
            Aulas Disponíveis
          </a>

          <a href="/aluno/pacotes" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">
            Meus Pacotes
          </a>
          <a href="/aluno/aulas-fixas" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">Aulas Fixas</a>
          
          {{!-- <a href="/aluno/historico" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">
            Histórico de Aulas
          </a> --}}

          <a href="/aluno/dados" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">
            Meus Dados
          </a>

          <a href="/aluno/anamnese" class="btn btn-outline-custom w-auto" style="color: #5A189A; border-color: #5A189A;">
            Minha Anamnese
          </a>

        </div>
      </div>

    </div>
  </div>
</div>