<div class="container py-5 text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">

      <h2 class="mb-4">Olá, {{aluno.nome}}!</h2>
      <div class="card bg-dark bg-opacity-75 p-4 mb-4">
      <div class="d-grid gap-3">

        <a href="/aluno/aulas" class="btn btn-outline-custom w-auto"
          style="color: WHITE ; border-color: #AE2D68;">Aulas Disponíveis</a>

        <a href="/aluno/pacotes" class="btn btn-outline-custom w-auto"
          style="color: WHITE ; border-color: #AE2D68;">Meus Pacotes</a>

        <a href="/aluno/historico" class="btn btn-outline-custom w-auto"
          style="color: WHITE ; border-color: #AE2D68;">Histórico de Aulas</a>

        <a href="/aluno/dados" class="btn btn-outline-custom w-auto"
          style="color: WHITE ; border-color: #AE2D68;">Meus Dados</a>

        <a href="/aluno/anamnese" class="btn btn-outline-custom w-auto"
          style="color: WHITE ; border-color: #AE2D68;">Minha Anamnese</a>

      </div>
      </div>
    </div>
  </div>
</div>