<div class="container py-5 text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">

      <h2 class="mb-4">Bem-vindo, {{nome}}!</h2>

     <div class="card text-dark p-4 mb-4" style="background-color: #B395C0;">
        <h5 class="text-white">Gerenciamento Rápido</h5>

        <div class="d-grid gap-3 mt-3">

          <a href="/professor/aulas" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Criar Aula</a>

          <a href="/professor/aulas-fixas/nova" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Aulas Fixas</a>

          <a href="/professor/alunos" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Ver Alunos</a>

          <a href="/professor/alunos/cadastrar" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Cadastrar Aluno</a>

          {{!-- <a href="/professor/pacotes" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Gerenciar Pacotes</a> --}}

          <a href="/professor/cadastrar" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Cadastrar Professor</a>

          <a href="/professor/categorias" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Categoria</a>

          {{!-- <a href="/professor/dados-pessoais-alunos" class="btn btn-outline-custom w-auto"
            style="color: #5A189A; border-color: #5A189A;">Dados Pessoais</a> --}}

          <a href="/logout" class="btn btn-outline-danger w-auto">Sair</a>

        </div>
      </div>

    </div>
  </div>
</div>