<h1>Bem-vindo, {{nome}}</h1>
<p>Você está na home do professor</p>

<!-- Painel de Acesso Rápido -->
<div class="card p-3 mb-4">
  <h5>Gerenciamento Rápido</h5>
  <div class="d-flex flex-wrap gap-2 mt-2">
    <a href="/professor/aulas"              class="btn btn-outline-primary">Criar Aula</a>
    <a href="/professor/aulas-fixas/nova"        class="btn btn-outline-primary">Aulas Fixas</a>
    <a href="/professor/alunos"             class="btn btn-outline-primary">Ver Alunos</a>
    <a href="/professor/alunos/cadastrar"   class="btn btn-outline-primary">Cadastrar Aluno</a>
    <a href="/professor/pacotes"            class="btn btn-outline-primary">Gerenciar Pacotes</a>
    <a href="/professor/cadastrar"           class="btn btn-outline-primary">Cadastrar Professor</a>
    <a href="/professor/tipos-aula"         class="btn btn-outline-primary">Tipos de Aula</a>
    <a href="/professor/dados-pessoais-alunos" class="btn btn-outline-primary">Dados Pessoais</a>
    <a href="/logout"                       class="btn btn-outline-danger">Sair</a>
  </div>
</div>

